doctype 5
html(lang="en")
	head
		block head
			title IG4Tool

			link(rel="stylesheet",href="/lib/bootstrap/css/bootstrap.css")

			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

			link(rel="stylesheet",href="/lib/jqwidgets/styles/jqx.base.css")
			link(rel="stylesheet",href="/lib/jqwidgets/styles/jqx.classic.css")
			script(src="/lib/jqwidgets/jqx-all.js")

			script(src="/lib/blade.js")

			link(rel="stylesheet",href="/client.css")

	body(class="default")
		#client-wrapper
			#client
				ul

		script(src="/client.js")
