h1 Sales
table#sales-form
	tr
		td
			label SmartZap!
		td
			input#smartzap
		td
			label Status
		td
			select#status
				option(value="debugger") Debugger
				option(value="plebs") Non-Member
				option(value="member") Member
				option(value="honorary") Erelid
	tr
		td
			label Aantal
		td
			input#amount
		td
			label Debugger
		td
			select#debugger
	
table#sales-list
	tr
			th Aantal
			th Product
			th Prijs
