h1 Sales
#sales-form.navbar
	.navbar-inner
		.navbar-search
			input#smartzap(type="text",placeholder="Smart-Zap!")
			select#status
				option(value="debugger") Debugger
				option(value="plebs") Non-Member
				option(value="member") Member
				option(value="honorary") Erelid
			input#amount(type="number",value=1,min=1)
			select#debugger

table#sales-list.table.table-striped
	thead
		tr
			th(width="50px") Aantal
			th Product
			th(width="100px") Prijs
	tbody
		tr
			td 1
			td protje
			td 1.50

.navbar
	.navbar-inner
		#sales-actions.btn-group
			button#kaching.btn Kaching!
			button#scribble.btn Scribble
			button#clear.btn Clear
		.navbar-search.pull-right
			span Total: &euro;&nbsp;
			input#total(type="text",value="0.00",readonly)
