body {
	margin:0;
	padding:0;
}

#menu {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:200px;
	border-right:3px black solid;
	background-color:grey;
}

div.menu-item {
	padding:5px;
	font-size:100%;
	line-height:40px;
	margin:5px;
	width:175px;
}

div.menu-item > img {
	height:40px;
	margin-right:5px;
}

#content {
	position:absolute;
	top:0;
	bottom:0;
	left:203px;
	right:0;
	background-color:grey;
	overflow:auto;
}

div.content-item {
	margin:5px;
	width:100% - 5px;
}

#content > div {
	display:none;
}
